<div class="remedia-container">
  <mat-sidenav-container class="h-100vh remedia-sidenav-container" (backdropClick)="closeSnav('backdrop')">
    <mat-sidenav-content>
      <app-s-table aria-label="Users" role="table" [sTableOptions]="userTableOptions"
        (sortCallback)="sortCall($event)"
        (addCallback)="addUser()" (globalActionCallback)="globalActionCall($event)"
        (filterCallback)="filterCall($event)"  (colFilterCallback)="colFilterCall($event)"
        (actionCallback)="actionCall($event)" (pageCallback)="pageCall($event)" (refreshCallback)="refreshCall()"
        (timerCallback)="refreshCall()"></app-s-table>
    </mat-sidenav-content>
    <mat-sidenav #snav [mode]="'over'" fixedTopGap="56" class="w-50 z-index-150" position="end">
      <mat-card class="mat-elevation-z0 w-100" *ngIf="userData && !userData.id">
        <button class="position-absolute r-1p mt--10" mat-icon-button (click)="backFun()"> <mat-icon>close</mat-icon> </button>
        <mat-card-header>
          <mat-card-title *ngIf="adduser">Add User</mat-card-title>
          <mat-card-title *ngIf="userData.modifiy">Edit User</mat-card-title>
        </mat-card-header>
        <form #adusr="ngForm" name="credentials" autocomplete="off" *ngIf="userData">
          <mat-card-content>
            <mat-form-field class="w-70p" appearance="outline">
              <mat-label>Name</mat-label>
              <input type="text" [(ngModel)]="userData.displayName" required matInput
                     placeholder="Enter First Name"
                     class="inp-width" name="name" id="name">
              <mat-error> Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-70p" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" [(ngModel)]="userData.email" class="inp-width" required matInput
                     placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,12}$"
                     name="email" autocomplete="new-password" id="email" [disabled]="!adduser">
              <mat-error>
                Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-70p" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input type="text" class="inp-width" [(ngModel)]="userData.phoneNumber" required matInput
                     placeholder="Enter Phone Number"
                     name="phone" autocomplete="new-password" id="phone">
              <mat-error>
                Phone number is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-70p" appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select [multiple]="false" required 
                placeholder="Choose role" name="countryList"
              [(ngModel)]="userData.rolei">
                <mat-option *ngFor="let country of countryList"
                  [value]="country.name" [id]="country.name">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-error> Role is required</mat-error>
            </mat-form-field>
          </mat-card-content>
          <div mat-dialog-actions class="mt-2">
            <button type="button" *ngIf="adduser" [disabled]="!adusr.form.valid" mat-raised-button color="primary" class="mr-2"
                    (click)="saveUser()" id="usrSavebtn">Save
            </button>
            <button type="button" *ngIf="!adduser" [disabled]="!adusr.form.valid" mat-raised-button color="primary" class="mr-2"
            (click)="updateUser()" id="usrSavebtn">Save
            </button>
            <button mat-raised-button (click)="backFun()">Cancel</button>
          </div>
        </form>
      </mat-card>
    </mat-sidenav>

    <mat-sidenav #upload [mode]="'over'" fixedTopGap="56" class="w-50 z-index-150" position="end">
      <mat-card class="mat-elevation-z0 w-100">
        <button class="position-absolute r-1p mt--10" mat-icon-button (click)="backFunUpload()"> <mat-icon>close</mat-icon> </button>
        <mat-card-header>
          <mat-card-title>Upload Images</mat-card-title>
        </mat-card-header>
        <form #upload="ngForm" name="upload" autocomplete="off">
          <mat-card-content>
            <div class="row row-fix">
              <div class="col-lg-12">
                <div class="mat-card modal">
                  <p class="mb-3">Thumbnail Image</p>
                  <input type="file" name="file" (change)="uploadFile($event, 'thumbnail_image')"/>
                  <img *ngIf="thumbnail_image" width="208" heigh="100" [src]="thumbnail_image" alt="">
                  <hr class="mt-4 mb-4">
                  <p class="mb-3">Preview Image</p>
                  <input type="file" name="file" (change)="uploadFile($event, 'preview_image')"/>
                  <img *ngIf="preview_image" width="169" height="128" [src]="preview_image" alt="">
                  <hr class="mt-4 mb-4">
                </div>
                <div class="flex flex-row align-items-center mt-3">
                  <button mat-raised-button color="primary"
                    [disabled]="!thumbnail_image && !preview_image"
                    class="mr20" (click)="imagesUpload()" >Upload Images
                  </button>
                  <button mat-button class="ml-2" color="assent" (click)="resetImagesUpload()">Reset</button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </mat-sidenav>
  </mat-sidenav-container>
</div>


