<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18 mr-2">event_note</mat-icon>
        Login Audit Status
      </mat-panel-title>
      <mat-panel-description> Login audit status </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <form class="example__form">
        <span class="">Enable Login Audit</span>
    </form>
    <button type="button"  mat-raised-button color="primary" class="mr-2 mt-4"
     id="Savebtn">Save
    </button>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
