<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                       *ngIf="aS.hasPermission('cyberutils', 'getschedulertimezone')">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18">date_range</mat-icon>
        <span class="mt5 ml-2">Timezone Settings</span></mat-panel-title>
      <mat-panel-description>
        Set timezone for scheduler.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card">
      <div class="card-body p--5">
        <div class="mb-0">
          <form #globaldata="ngForm" class="mr20">
            <mat-form-field appearance="outline" class="col-md-3 w-400">
              <mat-select placeholder="Choose Timezone" name="timezone" [(ngModel)]="global.timeZone" required>
                <mat-option *ngFor="let item of commonService.timeZoneList" [id]="item" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" id="TimezoneUpdate" [disabled]="!globaldata.form.valid"
                    class="ml20 mr20 mat-small p2" (click)="setTZ()">Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
  *ngIf="aS.hasPermission('cyberutils', 'getSessionTimeoutSettings')">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18">timer</mat-icon>
        <span class="mt5  ml-2">Session Timeout Settings</span>
      </mat-panel-title>
      <mat-panel-description>
        Set session/idle timeout.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card">
      <div class="card-body p--5">
        <div class="mb-0">
          <form #sessionForm="ngForm" class="mt20">
            <mat-form-field class="col-lg-3" appearance="outline">
              <input matInput min="1" placeholder="Idle (minutes)" name="idle" [(ngModel)]="sessionData.idle"
                     matTooltip="Idle time in minutes" type="number" required>
              <mat-hint>If Idle for {{sessionData.idle}} minutes</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-lg-3" appearance="outline">
              <input matInput min="1" placeholder="Countdown (minutes)" name="timeout"
                     matTooltip="If Idle reached, countdown time in minutes" [(ngModel)]="sessionData.timeout"
                     type="number" required>
              <mat-hint>wait for another {{sessionData.timeout}} minutes</mat-hint>
            </mat-form-field>
            <mat-form-field class="col-lg-3" appearance="outline">
              <input matInput placeholder="Logout (minutes)" name="logout"
                     [value]="sessionData.idle + sessionData.timeout"
                     matTooltip="Logout, If not active for {{sessionData.idle + sessionData.timeout}} minutes."
                     type="number" disabled>
              <mat-hint>and logout in  {{sessionData.idle + sessionData.timeout}} minutes.</mat-hint>
            </mat-form-field>
            <!-- <mat-form-field class="col-lg-2">
              <input matInput min="60" placeholder="Ping (seconds)" name="ping" [(ngModel)]="sessionData.ping"
                    type="number" required>
            </mat-form-field> -->
            <button mat-raised-button color="primary" [disabled]="!sessionForm.form.valid"
                    class="ml20 mr20 mat-small p2" (click)="setSessionTimeout()">Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18 mr-2">laptop</mat-icon>
        Asset Diagnostics Settings
      </mat-panel-title>
      <mat-panel-description>
        Set vulnerabilities, compliance and security report card risk weightage
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-asset-diagnostics></app-asset-diagnostics>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18 mr-2">domain</mat-icon>
        Company Diagnostics Settings
      </mat-panel-title>
      <mat-panel-description>
        Set vulnerabilities, compliance and security report card risk weightage
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-company-diagnostics></app-company-diagnostics>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18 mr-2">timer</mat-icon>
        Suppress Vulnerabilities Days
      </mat-panel-title>
      <mat-panel-description> No of days to suppress vulnerabilities after initial release </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-suppress-vuls-days></app-suppress-vuls-days>
    </ng-template>
  </mat-expansion-panel>
  <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18">network_check</mat-icon><span class="mt5 ml10">SNMP Global Settings</span></mat-panel-title>
    </mat-expansion-panel-header>
    <app-snmp></app-snmp>
  </mat-expansion-panel> -->
  <!--<mat-expansion-panel *ngIf="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    &lt;!&ndash; *ngIf="!authService.currentUser.isWLB" &ndash;&gt;
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18">image</mat-icon>
        <span class="mt5  ml-2"> Logo Update Settings</span></mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card">
      <div class="card-body p&#45;&#45;5">
        <div class="mb-0">
          <div class="infoccns">
            <p>
              Default Logo and Sizes: <br>
              1. Top Menu - cybercns_logo.png - 208 × 50 pixels (intrinsic: 250 × 60 pixels)
              <br>
              2. Login - cybercns_login_logo.png - 169 × 128 pixels <br>
          </div>
          <form #logoForm="ngForm" class="mt-3">
            <mat-card-content>
              <div class="row row-fix">
                <div class="col-lg-6">
                  <div class="mat-card modal">
                    <p>Top Menu Logo: (after login)</p>
                    <input type="file" accept=".png" name="file"
                           (change)="uploadLogoFile($event, 'cybercns_logo')"/>
                    <img *ngIf="cybercns_logo" width="208" heigh="50" [src]="cybercns_logo" alt="">
                    <p>Login Logo: </p>
                    <input type="file" accept=".png" name="file"
                           (change)="uploadLogoFile($event, 'cybercns_login_logo')"/>
                    <img *ngIf="cybercns_login_logo" width="169" height="128" [src]="cybercns_login_logo" alt="">
                  </div>
                </div>
              </div>
              <div class="row row-fix mt-3">
                <div class="col-lg-12">
                  <button mat-raised-button color="primary" [disabled]="!logoForm.form.valid"
                          class="mr20" (click)="logoUpload()">Save
                  </button>
                  <button mat-button class="ml-2" color="assent" (click)="resetLogo()">Reset</button>
                </div>
              </div>
            </mat-card-content>
          </form>
        </div>
      </div>
    </div>
  </mat-expansion-panel>-->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18 mr-2">event_note</mat-icon>
        Login Audit Status
      </mat-panel-title>
      <mat-panel-description> Login audit status </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <form class="example__form">
        <span class="">Enable Login Audit</span>
        <mat-slide-toggle class="w-100" (change)="auditStatus($event)" [(ngModel)]="loginAuditStatus" name="loginAuditStatus" matTooltip="Enable Login Audit Status">
        </mat-slide-toggle>
    </form>
    <button type="button"  mat-raised-button color="primary" class="mr-2 mt-4"
      (click)="enableLoginAuditStatus()" [disabled]="loginAuditBtnDisable" id="Savebtn">Save
    </button>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18">image</mat-icon>
        <span class="mt5  ml-2">White Label Settings</span></mat-panel-title>
      <mat-panel-description>
        Set login logo, main logo and favicon.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card">
      <div class="card-body p--5">
        <div class="mb-0">
          <div class="infoccns mb-3">
            <p>
              Default Logo and Sizes: <br> 1. Top Menu - cybercns_logo.png - 208 × 50 pixels (intrinsic: 250 × 60
              pixels)
              <br>
              2. Login - cybercns_login_logo.png - 169 × 128 pixels <br>
              3. Favicon - cybercns_only_logo.png - 128 x 128 pixels </p>
          </div>
          <form #whiteLabelForm="ngForm" class="mt20">
            <mat-card-content>
              <div class="row row-fix">
                <div class="col-lg-6">
                  <div class="mat-card modal">
                    <p class="m-1">Top Menu Logo: (after login)</p>
                    <input type="file" accept=".png" name="file" (change)="uploadFile($event, 'cybercns_logo')"/>
                    <img *ngIf="cybercns_logo" width="208" heigh="50" [src]="cybercns_logo" alt="">
                    <hr class="mt-2 mb-3">
                    <p class="mb-1">Login Logo: </p>
                    <input type="file" accept=".png" name="file" (change)="uploadFile($event, 'cybercns_login_logo')"/>
                    <img *ngIf="cybercns_login_logo" width="169" height="128" [src]="cybercns_login_logo" alt="">
                    <hr class="mt-2 mb-3">
                    <p class="mb-1">Favicon Logo: </p>
                    <input type="file" accept=".png" name="file" (change)="uploadFile($event, 'cybercns_only_logo')"/>
                    <img *ngIf="cybercns_only_logo" width="128" height="128" [src]="cybercns_only_logo" alt="">
                    <hr class="mt-2 mb-3">
                  </div>
                  <div class="flex flex-row align-items-center mt-3">
                    <button mat-raised-button color="primary"
                            [disabled]="!cybercns_logo && !cybercns_login_logo && !cybercns_only_logo"
                            class="mr20" (click)="whiteLabelUpload()">Upload Logos
                    </button>
                    <button mat-button class="ml-2" color="assent" (click)="resetWhiteLabel()">Reset</button>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mat-card modal">
                    <mat-form-field class="w-50" appearance="outline">
                      <mat-label>Product Name</mat-label>
                      <input matInput min="300" placeholder="Product Name" id="productName" name="productName"
                             [(ngModel)]="whiteLabel.productName" type="text" required>
                    </mat-form-field>
                    <mat-form-field class="w-50" appearance="outline">
                      <mat-label>Eula Link</mat-label>
                      <input matInput min="300" id="eulaLink" placeholder="EULA Link" name="eulaLink"
                             [(ngModel)]="whiteLabel.eulaLink" type="text" required>
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>EULA Text</mat-label>
                    <textarea id="eulaText" name="eulaText" matInput placeholder="EULA Text"
                            [(ngModel)]="whiteLabel.eulaText"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="flex flex-row align-items-center mt-3">
                    <button mat-raised-button color="primary" [disabled]="!whiteLabelForm.form.valid"
                            class="mr20" (click)="eulaTextUpload()">Update Name and EULA
                    </button>
                    <button mat-button class="ml-2" color="assent" (click)="resetWhiteLabel()">Reset</button>
                  </div>
                </div>
              </div>
              <!--<div class="row row-fix mt-3">
                <div class="col-lg-12">
                  <button mat-raised-button color="primary" [disabled]="!whiteLabelForm.form.valid"
                          class="mr20" (click)="whiteLabelUpload()">Save
                  </button>
                  <button mat-button class="ml-2" color="assent" (click)="resetWhiteLabel()">Reset</button>
                </div>
              </div>-->
            </mat-card-content>
          </form>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="tprimary">
        <mat-icon class="mat-18 mr-2">send_time_extension</mat-icon>
        Patching Status
      </mat-panel-title>
      <mat-panel-description>Enable patching and EULA accept status </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <form class="">
        <div class="row w-100 py-4">
          <span class="col-lg-2">Enable Patching</span>
          <mat-slide-toggle class="col-lg-10" (change)="patchStatus($event)"
                          [(ngModel)]="patchingStatus" name="patchingStatus" matTooltip="Enable Patching Status">
          </mat-slide-toggle>
        </div>
        <div class="row" *ngIf="patchingStatus">
          <mat-form-field class="col-lg-12" appearance="fill">
            <mat-label>EULA</mat-label>
            <textarea matInput col="50" readonly rows="10"  placeholder="EULA Link" [(ngModel)]="commonService.eulaContent" name="eulaContent"></textarea>
          </mat-form-field>
          <mat-checkbox class="col-lg-12" [(ngModel)]="isEulaAccepted" name="isEulaAccepted" matTooltip="EULA Accept">I ACCEPT</mat-checkbox>
        </div>
      </form>
    <button type="button"  mat-raised-button color="primary" class="mr-2 mt-4"
      (click)="enablePatchingStatus()" [disabled]="patchingStatus && !isEulaAccepted" id="patchbtn">Save
    </button>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
