<div class="remedia-container" *ngIf="showChannels">
  <mat-sidenav-container *ngIf="showChannelsTable" class="remedia-sidenav-container"  style="height: 100vh;">
    <mat-sidenav-content>
      <app-s-table-new aria-label="channels" role="table" [sTableOptions]="channelsTableOptions"
        (sortCallback)="channelssortCall($event)"
        (filterCallback)="channelsfilterCall($event)"
        (colFilterCallback)="channelsColFilterCall($event)"
        (actionCallback)="channelsactionCall($event)"
        (pageCallback)="channelspageCall($event)" (refreshCallback)="getChannels()"
        (addCallback)="channelsaddTableData()"
        (timerCallback)="channelstimerCallData()"
        (finalQueryCallback)="queryFilterCallBack($event)">
      </app-s-table-new>
    </mat-sidenav-content>
    <mat-sidenav #channel [mode]="'over'" fixedTopGap="56" position="end" class="w-70p z-index-150">
      <mat-card class="w-100">
        <button class="float-right r-1p mt--10" mat-icon-button aria-label="close modal icon" matTooltip="Close"
          (click)="channel.close();"><mat-icon>close</mat-icon>
        </button>
        <mat-card-header>
          <mat-card-title>Add Channel</mat-card-title>
        </mat-card-header>
        <form #adch="ngForm" name="credentials" autocomplete="off">
          <mat-card-content>
            <mat-form-field appearance="outline" class="col-md-8">
              <mat-label>Title</mat-label>
              <input matInput type="text" [(ngModel)]="channelData.title" placeholder="Enter title" required name="title" id="name">
              <mat-error> Title is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-8 w-70p" appearance="outline">
              <mat-select class="inp-width" [formControl]="userCtrl" required (selectionChange)="channelData.celebrity_id = $event.value" (openedChange)="closeCurrentUser($event)" placeholder="Search celebrity" #userSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="userFilterCtrl" [placeholderLabel]="'Search celebrity'"
                    [noEntriesFoundLabel]="'No matching celebrity found'" [searching]="searching"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user._id">
                  {{user.name}}
                </mat-option>
              </mat-select>
              <mat-error> Celebrity is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3 col-md-8">
              <mat-label>Video</mat-label>
              <input matInput type="url" name="video" [(ngModel)]="channelData.video_link" placeholder="Enter video url" required>
              <mat-error>Video is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-8 w-70p" appearance="outline">
              <mat-label>Select Category</mat-label>
              <mat-select [multiple]="true" required placeholder="Choose category" name="roleLists" [(ngModel)]="channelData.category">
                <mat-option *ngFor="let item of categoryList"
                  [value]="item._id" [id]="item._id">
                  {{item.name}}
                </mat-option>
              </mat-select>
              <mat-error> Category is required</mat-error>
            </mat-form-field>         
            <ng-container *ngFor="let item of channelData.description; let i = index">
              <mat-expansion-panel class="mt-2" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="mt-2">Description</mat-panel-title>
                  <div class="ml-2 mt-2">
                    <button mat-button="" *ngIf="i===0" class="tprime px-1 mr-2" (click)="addDes()" appPreventMultiClick>
                          <span class="d-flex flex-row align-items-center">
                            <i class="ms-Icon ms-font-lg ms-Icon--BoxAdditionSolid px-1 ms-fontColor-themePrimary"></i>
                            <span class="ibtn pl-1" id="DepAssetAddAsset">Add</span>
                          </span>
                    </button>
                    <button mat-button="" *ngIf="i!==0"class="mat-warn px-1 mr-2" (click)="removeDes(i)" appPreventMultiClick matTooltip="Delete language">
                      <span class="d-flex flex-row align-items-center">
                        <i class="ms-Icon ms-font-lg ms-Icon--Delete px-1 ms-fontColor-themeDanger"></i>
                        <span class="ibtn pl-1" id="aDeleteCompany">Delete</span>
                      </span>
                    </button>
                  </div>
                </mat-expansion-panel-header>
                <mat-card class="mt-2 mb-2">
                  <mat-form-field class="col-md-8 w-70p" appearance="outline">
                    <mat-label>Language</mat-label>
                    <mat-select [multiple]="false" required placeholder="Choose language" name="langLists{{i}}" [(ngModel)]="item.language">
                      <mat-option *ngFor="let lang of languagesList" [value]="lang" [id]="lang"> {{lang}} </mat-option>
                    </mat-select>
                    <mat-error> Language is required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-8">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" [(ngModel)]="item.title" placeholder="Enter title" name="title{{i}}" id="name">
                    <mat-error> Title is required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-8">
                    <mat-label>Description</mat-label>
                      <textarea matInput type="text" cols="4" [(ngModel)]="item.description" placeholder="Enter description" name="keyt{{i}}" id="keyt"></textarea>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-md-8">
                    <mat-label>Short Description</mat-label>
                      <textarea matInput type="text" cols="4" [(ngModel)]="item.short_description" placeholder="Enter short description" name="keys{{i}}" id="keys"></textarea>
                  </mat-form-field>
                  <mat-checkbox name="primary{{i}}" (change)="isPrimary(i, $event)" [(ngModel)]="item.is_default" value="" class="pt-2 mr-3 col-md-12 mb-3" color="primary">
                    Is default? </mat-checkbox>
                  <div *ngFor="let list of item.key_takeaways; let j = index" class="row">
                    <mat-form-field class="ml-3 col-md-8 w-70p" appearance="outline">
                      <mat-label>Key Takeaway</mat-label>
                        <textarea matInput type="text" cols="4" [(ngModel)]="list.name" placeholder="Enter key takeaway" required name="keyt{{i}}{{j}}" id="keyt"></textarea>
                      <mat-error> Key Takeaway is required</mat-error>
                    </mat-form-field>
                    <div class="ml-2 mt-2">
                      <button mat-button="" *ngIf="j===0" class="tprime px-1 mr-2" (click)="addTakeawayKey(j)" appPreventMultiClick>
                        <span class="d-flex flex-row align-items-center">
                          <i class="ms-Icon ms-font-lg ms-Icon--BoxAdditionSolid px-1 ms-fontColor-themePrimary"></i>
                          <span class="ibtn pl-1" id="DepAssetAddAsset">Add</span>
                        </span>
                      </button>
                      <button mat-button="" *ngIf="j!==0"class="mat-warn px-1 mr-2" (click)="removeTakeawayKey(i, j)" appPreventMultiClick matTooltip="Delete key takeaway">
                        <span class="d-flex flex-row align-items-center">
                          <i class="ms-Icon ms-font-lg ms-Icon--Delete px-1 ms-fontColor-themeDanger"></i>
                          <span class="ibtn pl-1" id="aDeleteCompany">Delete</span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <mat-form-field appearance="outline" class="col-md-8">
                    <mat-label>Mini Announcement</mat-label>
                    <input matInput type="text" [(ngModel)]="item.mini_announcement" placeholder="Enter Mini Announcement" required name="mini{{i}}" id="mini">
                    <mat-error> Mini Announcement is required</mat-error>
                  </mat-form-field>
                </mat-card>
              </mat-expansion-panel>
            </ng-container>
          </mat-card-content>
          <div mat-dialog-actions class="mt-2">
            <button type="button" [disabled]="!adch.form.valid" mat-raised-button color="primary" class="mr-2"
              id="adchsavebtn" (click)="saveChannel()">Save
            </button>
            <button mat-raised-button (click)="channel.close();">Cancel</button>
          </div>
        </form>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav #channelupload [mode]="'over'" fixedTopGap="56" class="w-50 z-index-150" position="end">
      <mat-card class="mat-elevation-z0 w-100">
        <button class="position-absolute r-1p mt--10" mat-icon-button (click)="channelupload.close()"> <mat-icon>close</mat-icon> </button>
        <mat-card-header>
          <mat-card-title>Upload Images</mat-card-title>
        </mat-card-header>
        <form #channelupload="ngForm" name="upload" autocomplete="off">
          <mat-card-content>
            <div class="row row-fix">
              <div class="col-lg-12">
                <div class="mat-card modal">
                  <p class="mb-3">Preview Image</p>
                  <input type="file" name="file" (change)="uploadFile($event, 'preview_images')"/>
                  <img *ngIf="preview_images" width="169" height="128" [src]="preview_images" alt="">
                  <hr class="mt-4 mb-4">
                </div>
                <div class="flex flex-row align-items-center mt-3">
                  <button mat-raised-button color="primary"
                    [disabled]="!preview_images"
                    class="mr20" (click)="imagesUpload()" >Upload Images
                  </button>
                  <button mat-button class="ml-2" color="assent" (click)="preview_images= ''">Reset</button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<div *ngIf="!showChannels" [@zoomInOnEnter]>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="d-flex align-items-center">
        <span class="fw2"></span>
        <span class="spacer"></span>
        <button class="position-absolute r-1p" mat-icon-button aria-label="close modal icon" matTooltip="Close"
                (click)="showChannels=!showChannels"><mat-icon>close</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-2">
      <ng-container >
        <mat-tab-group *ngIf="channelDetails.description.length">
          <ng-container *ngFor="let item of channelDetails.description">
            <mat-tab label="{{item.language}}">
              <div class="remedia-container">
                <mat-sidenav-container class="remedia-sidenav-container">
                  <mat-sidenav-content>
                    <mat-card class="table-card mb-2">
                      <mat-toolbar class="table-tools" role="heading">
                        <div fxFlex fxLayout fxLayoutAlign="start">
                          <span class="fs1">Channel Details
                          </span>
                        </div>
                      </mat-toolbar>
                      <mat-card-content>                     
                        <div>
                          <hr>
                          <h4><b>Title</b></h4>
                          <span>{{channelDetails.title}}</span>
                          <hr>
                          <h4><b>Celebrity Name</b></h4>
                          <span>{{channelDetails.entity_ref.name}}</span>
                          <hr>
                          <h4><b>Key Takeaways</b></h4>
                          <ul *ngFor="let list of item.key_takeaways">
                            <li>{{list}}</li>
                          </ul>
                          <hr>
                          <h4><b>Description</b></h4>
                          <span class="showless">
                            {{item.description}}
                          </span>
                          <hr>
                          <h4><b>Mini Announcement</b></h4>
                          <span class="showless">
                            {{item.mini_announcement}}
                          </span>
                          <hr>
                          <h4><b>Secondary Description</b></h4>
                          <span class="showless">
                            {{item.short_description}}
                          </span>
                          <hr>
                          <div class="row col-lg-12 row-fix">
                            <div class="col-lg-4" *ngIf="channelDetails?.preview_image_thumbnail">
                              <h4><b>Preview Thumbnail</b></h4>
                              <img width="150" heigh="150" class="imgwh" [src]="channelDetails.preview_image_thumbnail" alt="">
                            </div>
                            <div class="col-lg-4" *ngIf="channelDetails?.preview_image">
                              <h4><b>Preview Image</b></h4>
                              <img width="150" heigh="150" class="imgwh" [src]="channelDetails.preview_image" alt="">
                            </div>
                          </div>
                          <hr>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </mat-sidenav-content>
                </mat-sidenav-container>
              </div>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>