.picchart{
  overflow: hidden;
  .pic-icon{
    height: 100%;
  }
}
.pic-img {
  width: 128px;
  padding: 16px;
  margin: 16px auto;
}
.compliance-field{
  margin-top: -16px;
}
.ad-pill{
  min-height: 284px;
}
