<div class="remedia-container" *ngIf="showPosts">
    <mat-sidenav-container *ngIf="showPostsTable" class="remedia-sidenav-container"  style="height: 100vh;">
      <mat-sidenav-content>
        <app-s-table-new aria-label="posts" role="table" [sTableOptions]="postsTableOptions"
          (sortCallback)="postssortCall($event)"
          (filterCallback)="postsfilterCall($event)"
          (colFilterCallback)="postsColFilterCall($event)"
          (actionCallback)="postsactionCall($event)"
          (pageCallback)="postspageCall($event)" (refreshCallback)="getPosts()"
          (addCallback)="postsaddTableData()"
          (timerCallback)="poststimerCallData()"
          (finalQueryCallback)="queryFilterCallBack($event)">
        </app-s-table-new>
      </mat-sidenav-content>
      <mat-sidenav #postmodal [mode]="'over'" fixedTopGap="56" position="end" class="w-70p z-index-150">
        <mat-card class="w-100">
          <button class="float-right r-1p mt--10" mat-icon-button aria-label="close modal icon" matTooltip="Close"
            (click)="postmodal.close();"><mat-icon>close</mat-icon>
          </button>
          <mat-card-header>
            <mat-card-title>Add Post</mat-card-title>
          </mat-card-header>
          <form #adch="ngForm" name="credentials" autocomplete="off">
            <mat-card-content>
              <mat-form-field class="col-md-8 w-70p" appearance="outline">
                <mat-select class="inp-width" [formControl]="userCtrl" required (selectionChange)="postData.celebrity_id = $event.value" (openedChange)="closeCurrentUser($event)" placeholder="Search celebrity" #userSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="userFilterCtrl" [placeholderLabel]="'Search celebrity'"
                      [noEntriesFoundLabel]="'No matching celebrity found'" [searching]="searching"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let user of filteredUsers | async" [value]="user._id">
                    {{user.name}}
                  </mat-option>
                </mat-select>
                <mat-error> Celebrity is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="mr-3 col-md-8">
                <mat-label>Video</mat-label>
                <input matInput type="url" name="video" [(ngModel)]="postData.video_link" placeholder="Enter video url" required>
                <mat-error>Video is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="mr-3 col-md-8">
                <mat-label>Description</mat-label>
                  <textarea matInput type="text" cols="4" [(ngModel)]="postData.description" placeholder="Enter description" name="keyt" id="keyt"></textarea>
              </mat-form-field>
            </mat-card-content>
            <div mat-dialog-actions class="mt-2">
              <button type="button" [disabled]="!adch.form.valid" mat-raised-button color="primary" class="mr-2"
                id="adchsavebtn" (click)="savePosts()">Save
              </button>
              <button mat-raised-button (click)="postmodal.close();">Cancel</button>
            </div>
          </form>
        </mat-card>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  
  <div *ngIf="!showPosts" [@zoomInOnEnter]>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="d-flex align-items-center">
          <span class="fw2"></span>
          <span class="spacer"></span>
          <button class="position-absolute r-1p" mat-icon-button aria-label="close modal icon" matTooltip="Close"
                  (click)="showPosts=!showPosts"><mat-icon>close</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="pt-2">
        <ng-container >
          
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>