<div class="remedia-container">
    <mat-sidenav-container class="h-100vh remedia-sidenav-container" (backdropClick)="closeSnav('backdrop')">
      <mat-sidenav-content>
        <app-s-table aria-label="Carousel" role="table" [sTableOptions]="carouselTableOptions"
          (sortCallback)="sortCall($event)"
          (addCallback)="addCarousel()" (globalActionCallback)="globalActionCall($event)"
          (filterCallback)="filterCall($event)"  (colFilterCallback)="colFilterCall($event)"
          (actionCallback)="actionCall($event)" (pageCallback)="pageCall($event)" (refreshCallback)="refreshCall()"
          (timerCallback)="refreshCall()"></app-s-table>
      </mat-sidenav-content>
      <mat-sidenav #snav [mode]="'over'" fixedTopGap="56" class="w-50 z-index-150" position="end">
        <mat-card class="mat-elevation-z0 w-100" *ngIf="carouselData && !carouselData.id">
          <button class="position-absolute r-1p mt--10" mat-icon-button (click)="backFun()"> <mat-icon>close</mat-icon> </button>
          <mat-card-header>
            <mat-card-title>{{this.carouselTitle}}</mat-card-title>
          </mat-card-header>
          <form #adusr="ngForm" name="credentials" autocomplete="off" *ngIf="carouselData">
            <mat-card-content>
              
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Level</mat-label>
                <mat-select [multiple]="false" required
                  placeholder="Choose level" name="level"
                [(ngModel)]="carouselData.levels">
                  <mat-option *ngFor="let level of levelList; let i = index"
                    [value]="level._id" >
                    {{level.level}}
                  </mat-option>
                </mat-select>
                <mat-error> Level is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea type="text" [(ngModel)]="carouselData.carousel_descs" matInput
                       placeholder="Enter Description"
                       class="inp-width" name="description" id="description"></textarea>
                <mat-error> Description is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Celebrity</mat-label>
                <mat-select [multiple]="false" required 
                  placeholder="Choose type" name="type"
                [(ngModel)]="carouselData.celebrity_id">
                  <mat-option *ngFor="let celeb of celebrityList; let i = index"
                    [value]="celeb._id" >
                    {{celeb.name}}
                  </mat-option>
                </mat-select>
                <mat-error> Carousel Type is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Position</mat-label>
                <input type="number" [(ngModel)]="carouselData.positions" required matInput
                       placeholder="Enter position" min="0" onKeyDown="return false"
                       class="inp-width" name="Position" id="Position">
                <mat-error> Position is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Carousel Type</mat-label>
                <mat-select [multiple]="false" required (ngModelChange)="updatedataType($event)"
                  placeholder="Choose type" name="type"
                [(ngModel)]="carouselData.data_types">
                  <mat-option *ngFor="let type of dataType; let i = index"
                    [value]="type" >
                    {{type}}
                  </mat-option>
                </mat-select>
                <mat-error> Carousel Type is required</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Carousel Size</mat-label>
                <mat-select [multiple]="false" required 
                  placeholder="Choose size" name="size"
                [(ngModel)]="carouselData.carousel_sizes">
                  <mat-option *ngFor="let size of carouselSize; let i = index"
                    [value]="size" >
                    {{size}}
                  </mat-option>
                </mat-select>
                <mat-error> Carousel Size is required</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100" *ngIf="carouselData.data_types !=='Other' && carouselData.data_types !== '' && datapresent">
                <mat-select [formControl]="dataCtrl" placeholder="{{carouselData.data_types}}" (selectionChange)="carouselData.content_id = $event.value" (openedChange)="closeCurrentData($event)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="dataFilterCtrl" [noEntriesFoundLabel]="'No matching data found'" [searching]="searching"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredData | async" [value]="item._id">
                    {{item.displayData}}
                  </mat-option>
                </mat-select>              
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline" *ngIf="carouselData.data_types ==='Other'">
                <mat-label>Navigate Link</mat-label>
                <input type="text" [(ngModel)]="carouselData.navigate_links" required matInput
                       placeholder="Enter Navigate Link"
                       class="inp-width" name="link" id="link">
                <mat-error> Navigate Link is required</mat-error>
              </mat-form-field>
              <div class="row row-fix" *ngIf="carouselTitle === 'Add Carousel'">
                <div class="col-lg-12">
                  <div class="mat-card modal">
                    <p class="mb-3">Image</p>
                    <input type="file" name="file" accept="image/*" (change)="uploadFile($event, 'image_uploads')"/>
                    <img *ngIf="image_uploads" width="208" heigh="100" [src]="image_uploads" alt="">
                  </div>
                </div>
              </div>
            </mat-card-content>
            <div mat-dialog-actions class="mt-2">
              <button type="button" [disabled]="!adusr.form.valid" mat-raised-button color="primary" class="mr-2" *ngIf="carouselTitle ==='Add Carousel'"
                      (click)="saveCarousel()" id="usrSavebtn">Save
              </button>
              <button type="button" [disabled]="!adusr.form.valid" mat-raised-button color="primary" class="mr-2" *ngIf="carouselTitle ==='Edit Carousel'"
                      (click)="updateCarousel(carouselData)" id="usrSavebtn">Save
              </button>
              <button mat-raised-button (click)="backFun()">Cancel</button>
            </div>
          </form>
        </mat-card>
      </mat-sidenav>

      <mat-sidenav #cat [mode]="'over'" fixedTopGap="56" position="end" class="w-70p z-index-150">
        <mat-card class="w-100">
          <button class="float-right r-1p mt--10" mat-icon-button aria-label="close modal icon" matTooltip="Close"
                  (click)="cat.close();"><mat-icon>close</mat-icon>
          </button>
          <mat-card-header>
            <mat-card-title>Add Level</mat-card-title>
          </mat-card-header>
          <form #adcat="ngForm" name="credentials" autocomplete="off">
            <mat-card-content>           
              <mat-form-field class="w-70p" appearance="outline">
                <mat-label>Level</mat-label>
                <input type="text" [(ngModel)]="levelData.level" minlength="2" required matInput
                       placeholder="Enter level Name"
                       class="inp-width" name="level" id="">
                <mat-error> Level is required.</mat-error>
              </mat-form-field>
            </mat-card-content>
            <div mat-dialog-actions class="mt-2">
              <button type="button" [disabled]="!adcat.form.valid" mat-raised-button color="primary" class="mr-2"
                      (click)="savelevel()" id="usrSavebtn">Save
              </button>
              <button mat-raised-button (click)="backFun();">Cancel</button>
            </div>
          </form>
        </mat-card>
      </mat-sidenav>

      <mat-sidenav #upload [mode]="'over'" fixedTopGap="56" class="w-50 z-index-150" position="end">
        <mat-card class="mat-elevation-z0 w-100">
          <button class="position-absolute r-1p mt--10" mat-icon-button (click)="backFunUpload()"> <mat-icon>close</mat-icon> </button>
          <mat-card-header>
            <mat-card-title>Upload Images</mat-card-title>
          </mat-card-header>
          <form #upload="ngForm" name="upload" autocomplete="off">
            <mat-card-content>
              <div class="row row-fix">
                <div class="col-lg-12">
                  <div class="mat-card modal">
                    <p class="mb-3">Thumbnail Image</p>
                    <input type="file" name="file" (change)="uploadFile($event, 'thumbnail_image')"/>
                    <img *ngIf="thumbnail_image" width="208" heigh="100" [src]="thumbnail_image" alt="">
                    <hr class="mt-4 mb-4">
                    <p class="mb-3">Preview Image</p>
                    <input type="file" name="file" (change)="uploadFile($event, 'preview_image')"/>
                    <img *ngIf="preview_image" width="169" height="128" [src]="preview_image" alt="">
                    <hr class="mt-4 mb-4">
                  </div>
                  <div class="flex flex-row align-items-center mt-3">
                    <button mat-raised-button color="primary"
                      [disabled]="!thumbnail_image && !preview_image"
                      class="mr20" (click)="imagesUpload()" >Upload Images
                    </button>
                    <button mat-button class="ml-2" color="assent" (click)="resetImagesUpload()">Reset</button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </form>
        </mat-card>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  
  
  